{% extends "layout.html" %}

{% block style %}
	<script type="text/javascript" src=" {{ url_for('static', filename='js/jquery.flexisel.js') }}"></script>
{% endblock %}
 
{% block jscript %}

	<script type="text/javascript">
	$(window).load(function() {
		$("#flexiselDemo2").flexisel({
			visibleItems: 3,
			animationSpeed: 1000,
			autoPlay: true,
			autoPlaySpeed: 3000,    		
			pauseOnHover: true,
		
			enableResponsiveBreakpoints: true,
			responsiveBreakpoints: { 
				portrait: { 
					changePoint:480,
					visibleItems: 1
				}, 
				landscape: { 
					changePoint:640,
					visibleItems: 2
				},
				tablet: { 
					changePoint:768,
					visibleItems: 2
				}
			}
		});
		
	});

	</script>

	<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 2
					}
				}
			});
		});
	</script>

{% endblock %}


{% block body %}

	<div class="banner">
		<div class="container">	
			
			<h1> SUMMER SALE! 30% Off + Free US Shipping!</h1>
			<h1>Poster you Love </h1>
			<h1> -> Home <- -> Office <- </h1>
			<a href="#content" class="scroll down"><img src="../static/images/arr.png" alt=""></a>
		</div>
	</div>

	<div class="content" id="content">

	<div class="container">
		<div class="content-grid">
			<h3 class="future">All</h3>
			
				<p class="five">1/5</p>
				<div class="clearfix"> </div>

			<ul id="flexiselDemo1">			
			{% for item in products %}
					<li>
					<div class="men-grid">
						<a href="/single/{{item.id}}"><img class="img-responsive" src="{{url_for( 'static', filename='images/products/'+item.image) }}" alt=""></a>

						<div class="value-in">
							<!-- <p>{{item.name}}</p> -->
							<p>a1 poster</p>
							<span>{{ '${:.2f}'.format(item.price) }} </span>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					</li>

			{% endfor %}
			</ul>
		</div>

		<!---->
		<div class="about-us">
			<div class="container">
				<h2> <- Us-City-Poster ->
					<a href="https://www.instagram.com/uscityposter"> IG </a>
				</h2>
				
					<p> We print our wall murals on-demand to meet your unique specifications and design needs.
					Satisfaction Gaurantee
					Lifetime Color, Superior Quality, Fast Delivery </p>
				
				<!-- <i class="round"> </i> -->
			</div>

		</div>
	</div>

{% endblock %}